{% extends 'base.html' %}

{% load static %}

{% block title %}
Careers - PLACIDE HAKIZIMANA WEB
{% endblock %}

{% block content %}

<div class="careers-container">
    <h1>Working at FACT</h1>
    
                <p>Architectural design is the art and science of planning and creating spaces 
                    that are functional, aesthetic, and sustainable. 
                    In the realm of construction management, it involves overseeing the 
                    entire process of construction projects, from initial planning to final completion, 
                    ensuring that deadlines, budgets, and quality standards are met. 
                    Effective design requires a deep understanding of materials, environmental considerations, 
                    and the client's needs, while also adapting to evolving trends in sustainability and technology.
                </p>
                <p>
                Construction management focuses on coordinating and supervising construction activities, 
                ensuring that all parties involved collaborate efficiently. 
                It also emphasizes safety protocols, risk management, and resource allocation to avoid 
                delays or unnecessary costs. The integration of advanced design software 
                tools has revolutionized how architects and engineers visualize, plan, and execute 
                building projects, making the process more accurate and efficient.
                </p>
                <p>
                The design phase is critical for setting the foundation of a construction project. 
                It includes conceptual sketches, detailed drawings, and the selection of materials, 
                which all play a pivotal role in determining the project's success. 
                In addition, understanding the structural integrity of a building is vital in ensuring its 
                longevity and safety. The use of modern building techniques such as prefabrication and 3D 
                printing is pushing the boundaries of traditional construction methods, offering more 
                cost-effective and sustainable solutions.
                </p>
                    

    <h1>Current Openings</h1>

    <h1>Landing Projects</h1>

</div>

<div class="team-container">
    <h1>Team</h1>
    <div class="team-grid">
        {% for team_image in team_images %}
        <div class="team-member">
            <img src="{{ team_image.image.url }}" alt="{{ team_image.description }}">
            <h3>{{ team_image.name }}</h3>
            <p>{{ team_image.role }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h1>Board of Directors</h1>
    <div class="board-grid">
        {% for board_image in board_images %}
        <div class="board-member">
            <img src="{{ board_image.image.url }}" alt="{{ board_image.description }}">
            <h3>{{ board_image.name }}</h3>
            <p>{{ board_image.role }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h1>Partners</h1>

  
    <div class="partners">
        <ul class="left">
            <li>Kigali initiative forum</li>
            <li>indatwa fine art</li>
            <li>building and management center kigali</li>
        </ul> 
        <ul class="right">
            <li>Kigali initiative forum</li>
            <li>indatwa fine art</li>
            <li>building and management center kigali</li>
        </ul> 
    </div>
    
</div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/careers.css' %}">
{% endblock %}

