{% extends 'base.html' %}

{% load static %}

{% block title %}
Careers - FACT WEB
{% endblock %}

{% block content %}

<div class="careers-container">
    <h1>Working at FACT</h1>
    
                <p>Architectural design is the art and science of planning and creating spaces 
                    that are functional, aesthetic, and sustainable. 
                    In the realm of construction management, it involves overseeing the 
                    entire process of construction projects, from initial planning to final completion, 
                    ensuring that deadlines, budgets, and quality standards are met. 
                    Effective design requires a deep understanding of materials, environmental considerations, 
                    and the client's needs, while also adapting to evolving trends in sustainability and technology.
                </p>
                <p>
                Construction management focuses on coordinating and supervising construction activities, 
                ensuring that all parties involved collaborate efficiently. 
                It also emphasizes safety protocols, risk management, and resource allocation to avoid 
                delays or unnecessary costs. The integration of advanced design software 
                tools has revolutionized how architects and engineers visualize, plan, and execute 
                building projects, making the process more accurate and efficient.
                </p>
                <p>
                The design phase is critical for setting the foundation of a construction project. 
                It includes conceptual sketches, detailed drawings, and the selection of materials, 
                which all play a pivotal role in determining the project's success. 
                In addition, understanding the structural integrity of a building is vital in ensuring its 
                longevity and safety. The use of modern building techniques such as prefabrication and 3D 
                printing is pushing the boundaries of traditional construction methods, offering more 
                cost-effective and sustainable solutions.
                </p>
</div>

{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/careerpage.css' %}">
{% endblock %}

