{% extends 'base.html' %}

{% load static %}

{% block title %}
Careers - FACT WEB
{% endblock %}

{% block content %}

<div class="careers-container">
    <h1>Working at FACT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
        suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
        aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
        fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
        velit consectetur a.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
            suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
            aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
            fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
            velit consectetur a.</p>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
                suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
                aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
                fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
                velit consectetur a.</p>

    <h1>Current Openings</h1>

    <h1>Landing Projects</h1>

</div>

<div class="team-container">
    <h1>Team</h1>
    <div class="team-grid">
        {% for team_image in team_images %}
        <div class="team-member">
            <img src="{{ team_image.image.url }}" alt="{{ team_image.description }}">
            <h3>{{ team_image.name }}</h3>
            <p>{{ team_image.role }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h1>Board of Directors</h1>
    <div class="board-grid">
        {% for board_image in board_images %}
        <div class="board-member">
            <img src="{{ board_image.image.url }}" alt="{{ board_image.description }}">
            <h3>{{ board_image.name }}</h3>
            <p>{{ board_image.role }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h1>Partners</h1>
    <div class="partners">
        <div class="left">
            <h3>Kigali initiative forum</h3>
            <h3>indatwa fine art</h3>
            <h3>building and management center kigali</h3>
        </div> 
        <div class="right">
            <div class="left">
                <h3>Kigali initiative forum</h3>
                <h3>indatwa fine art</h3>
                <h3>building and management center kigali</h3>
            </div>
        </div> 
    </div>
    
</div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/careers.css' %}">
{% endblock %}

