{% extends 'base.html' %}

{% load static %}

{% block title %}
Careers - FACT WEB
{% endblock %}

{% block content %}
<div class="careers-container">
    <h1>Working at FACT</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
        suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
        aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
        fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
        velit consectetur a.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
            suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
            aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
            fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
            velit consectetur a.</p>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis libero a felis 
                suscipit, vel posuere odio feugiat. Suspendisse potenti. Nulla facilisi. Duis sit amet 
                aliquet libero. Duis bibendum sapien ut est vehicula sollicitudin. Integer tincidunt 
                fringilla tellus, a condimentum eros viverra eget. Sed auctor volutpat ex, sit amet malesuada 
                velit consectetur a.</p>

    <h1>Current Openings</h1>

</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/careers.css' %}">
{% endblock %}
