{% extends 'base.html' %}

{% load static %}

{% block title %}
Contact - FACT WEB
{% endblock %}

{% block content %}

<div class="grid-container">
    <!-- Left Section: Image -->
    <div class="left-section">
        
            {% for contact_image in contact_images %}
            <div class="contact" data-category="{{ contact_image.category }}">
            <img src="{{ contact_image.image.url }}" alt="{{ contact_image.description }}">
            </div>
            {% endfor %}
    </div>

    <!-- Middle Section: Contact Form -->
    <div class="contact-container">
        <h1>Love to hear from you,<br> Get in touch</h1>
        <form id="contact-form" action="#" method="POST">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Your name" required>
            <input type="email" id="email" name="email" placeholder="Your email" required>
            <input type="text" id="subject" name="subject" placeholder="Subject">
            <textarea id="message" name="message" rows="4" placeholder="Enter your message" required></textarea>
            
            <button type="submit">Send</button>
        </form>
    </div>

    <!-- Right Section: Company Location -->
    <div class="right-section">
        <h2>Our Location</h2>
        <p>FACT Ltd Headquarters</p>
        <p>123 Main Street, Kigali, Rwanda</p>
        <p>Email: contact@fact.rw</p>
        <p>Phone: +250 789 123 456</p>
    </div>
</div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/contact.css' %}">
{% endblock %}

{% block extrascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const contactForm = document.getElementById('contact-form');
        contactForm.addEventListener('submit', function (event) {
            event.preventDefault();

            fetch('/save-contact-message/', {
                method: 'POST',
                body: new FormData(contactForm),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        alert('Thank you for reaching out to Fact Ltd, we will contact you shortly for further support');
                        contactForm.reset();
                    } else {
                        alert('Failed to send message. Please check whether you have network.');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred while sending the message.');
                });
        });
    });
</script>
{% endblock %}
