{% extends 'base.html' %}

{% load static %}

{% block title %}
Home - FACT WEB
{% endblock %}

{% block content %}

{% for image in images %}
    {% if image.category.name == 'home' %}
        <img class="image" src="{{ image.image.url }}" alt="{{ image.title }}">
    {% endif %}
{% endfor %}

<div class="content">
    <p class="center-text">Our fact is our Reality Action</p>
    <a href="{% url 'contact' %}" class="get-in-touch">Get in Touch</a>
</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/index.css' %}">
{% endblock %}
