{% extends 'base.html' %}

{% load static %}

{% block title %}
Home - FACT WEB
{% endblock %}

{% block content %}
<div class="main-container">
    <!-- Grid Section -->
    <div class="grid-container">
        <!-- Left Section (75%) -->
        <div class="image-section">
            {% for image in images %}
                {% if image.category.name == 'home' %}
                    <img class="image" src="{{ image.image.url }}" alt="{{ image.title }}">
                {% endif %}
            {% endfor %}
        </div>

        <!-- Right Section (25%) -->
        <div class="overview-section">
        
            <p>
                Architecture and construction are powerful symbols of progress and development. 
                They have the unique ability to shape the emotions of individuals and communities, 
                often becoming a source of either hope and inspiration or despair and detachment. 
                Architecture is never neutral; it carries profound meaning and impacts lives in 
                ways that extend beyond mere physical structures. 
            </p>
            <p>
                At the heart of our vision is a commitment to creating architecture and construction 
                that uplift and empower. We strive to design spaces that embody healing, dignity, 
                freedom, and independence. Through our work, we aim to inspire a sense of purpose, 
                restore pride, and provide environments that foster growth, unity, and a better future.
            </p>
            

        </div>
    </div>

    <!-- Content Below the Grid -->
    <div class="content">
        <p class="center-text">Our fact is our Reality Action</p>
        <a href="{% url 'contact' %}" class="get-in-touch">Get in Touch</a>
    </div>
</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/index.css' %}">
{% endblock %}
