{% extends 'base.html' %}

{% load static %}

{% block title %}
News - FACT WEB
{% endblock %}

{% block content %}
<div class="news-container">
    <h1>Latest News</h1>
<div class="news-grid">
    {% for news_image in news_images %}
    <div class="news-item" data-category="{{ news_image.category }}">
        <img src="{{ news_image.image.url }}" alt="{{ news_image.description }}">
        <p>{{ news_image.description}}</p>
        <p>{{ news_image.posted_date|date:"Y-m-d" }}</p>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/news.css' %}">
{% endblock %}
