{% extends 'base.html' %}

{% load static %}

{% block title %}
Videos - FACT WEB
{% endblock %}

{% block content %}
<div class="videos-container">
    <h1>Design LABS</h1>
    <div class="video-grid">
        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>

        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>

        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>

        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>

        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>

        <div class="video-item">
            <img src="{% static 'FactWebApp/images/member1.jpg' %}" alt="Design Item 1">
            <h3>reseach lab one title</h3>
            <P class="research-pragraph">
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions
                research one general descriptions</p>
        </div>
</div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/research.css' %}">
{% endblock %}
