{% extends 'base.html' %}

{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="services-container">
    <h1>Our mission is to research, build, and advocate for architecture that promotes justice and 
        human dignity.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
        Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
         elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
         leo. Duis ut massa ante. Fusce ut neque justo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
        Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
        leo. Duis ut massa ante. Fusce ut neque justo.</p>
    <img src="{% static 'FactWebApp/images/service_image.jpg' %}" alt="Service Image">

<div class="services-container">
    <h1>How We Work</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
        Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
        leo. Duis ut massa ante. Fusce ut neque justo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
        Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
        leo. Duis ut massa ante. Fusce ut neque justo.</p>
    <img src="{% static 'FactWebApp/images/service_image.jpg' %}" alt="Service Image">

        <div class="services-container">
            <h1>Leadership</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
                Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
                 elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
                 leo. Duis ut massa ante. Fusce ut neque justo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
                Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
                leo. Duis ut massa ante. Fusce ut neque justo.</p>
            <img src="{% static 'FactWebApp/images/service_image.jpg' %}" alt="Service Image">

            <div class="services-container">
                <h1>Services</h1>
                <h2>Mass.Build</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
                    Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
                     elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
                     leo. Duis ut massa ante. Fusce ut neque justo.</p>
                <h2>Mass.Made</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum leo. 
                    Duis ut massa ante. Fusce ut neque justo. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Sed non maximus erat, et bibendum leo. Duis ut massa ante. Fusce ut neque justo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non maximus erat, et bibendum 
                    leo. Duis ut massa ante. Fusce ut neque justo.</p>
                <img src="{% static 'FactWebApp/images/service_image.jpg' %}" alt="Service Image">
</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/services.css' %}">
{% endblock %}

