{% extends 'base.html' %}

{% load static %}

{% block title %}
Services - FACT WEB
{% endblock %}

{% block content %}

    <h1>What we offer</h1>
    <p>Lorem ipsum dolor sit amet consectetur. in tincidunt. Orci mollis amet vivamus eu sagittis 
       scelerisque.Arcu odio sit pellentesque facilisis....Lorem ipsum dolor sit amet consectetur. 
       in tincidunt. Orci mollis amet vivamus eu sagittis scelerisque.Arcu odio sit pellentesque 
       facilisis....Lorem ipsum dolor sit amet consectetur. in tincidunt. Orci mollis amet vivamus 
       eu sagittis scelerisque.Arcu odio sit pellentesque facilisis....Lorem ipsum dolor sit amet 
       consectetur. in tincidunt. Orci mollis amet vivamus eu sagittis scelerisque.Arcu odio sit 
       pellentesque facilisis....</p>

    <div class="services-container">
        <div class="service">
            <h2>Service 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, quisquam?</p>
        </div>
        <div class="service">
            <h2>Service 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, doloribus.</p>
        </div>
        <div class="service">
            <h2>Service 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, iusto.</p>
        </div>
    </div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/services.css' %}">
{% endblock %}