{% extends 'base.html' %}

{% load static %}

{% block title %}
Services - FACT WEB
{% endblock %}

{% block content %}

    <div class="description">
    <h1>What we offer</h1>
    <p>At FACT, we offer a comprehensive range of services to meet all your architectural and 
        construction needs. From innovative architectural design solutions to expert construction 
        management and sustainable design consulting, our team is dedicated to delivering excellence 
        in every project. With a focus on creativity, functionality, and sustainability, we strive to 
        exceed our clients' expectations and create spaces that inspire, endure, and enrich lives.</p>
    </div>
    
    <div class="services-container">
        <div class="service">
            <h2>Architecture Design</h2>
            <img src="#" alt="#" class="service-imge">
            <p>We offer comprehensive architectural design services tailored to meet your specific 
                needs. Our team of experienced architects will work closely with you to develop 
                innovative and sustainable design solutions that enhance the functionality, aesthetics,
                and value of your project.
            </p>
        </div>
        <div class="service">
            <h2>Construction Management</h2>
            <img src="#" alt="#" class="service-imge">
            <p>Our construction management services are designed to ensure that your project is 
                completed on time, within budget, and to the highest quality standards. From project 
                planning and scheduling to contractor management and quality control, we'll oversee 
                every aspect of the construction process to ensure a successful outcome.
            </p>
        </div>
        <div class="service">
            <h2>Sustainable Design Consulting</h2>
            <img src="#" alt="#" class="service-imge">
            <p>We specialize in sustainable design consulting, helping clients minimize their 
                environmental impact and maximize their energy efficiency. Our team will assess your 
                project's environmental footprint and develop strategies to reduce energy consumption, 
                conserve resources, and promote sustainability throughout the design and construction 
                process.
            </p>
        </div>
    </div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/services.css' %}">
{% endblock %}