.about-container {
    padding: 20px;
}

.about-container h1 {
    margin-bottom: 20px;
    font-weight: normal;
}

.about-container img {
    width: 100%; 
    height: 100vh; 
    margin-bottom: 0px;
    object-fit: cover;
}