@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(14, 14, 48);
    padding: 0px;
    color: white;
    position: fixed; /* Makes the nav bar fixed */
    top: 0; /* Fixes the nav bar to the top of the page */
    width: 100%; /* Ensures the nav bar spans the full width */
    z-index: 1000; /* Keeps the nav bar above other content */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    align-self: start;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    color: blue;
}

footer {
    display: flex;
    align-items: center;
    background-color: rgb(14, 14, 48);
    padding: 10px;
    padding-bottom: 0px;
    justify-content: space-evenly;
    height: auto;
}

.footer-left p {
    color: white;
    align-items: end;
}

.footer-right {
    display: inline-block;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 15px;
    font-size: 24px;
}

.footer-right a:hover {
    color: blue;
}

.footer-right a:last-child {
    margin-right: 0;
    align-items: start;
}