.design-container {
    padding: 20px;
}

.filter-options {
    margin-bottom: 20px;
}

.design-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}

.design-item {
    text-align: center;
}

.design-item img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

.design-item h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.design-item p {
    color: #666;
    font-display: italic;
}
