.content {
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px
}

img {
    width: 96%; 
    height: 100vh; 
    margin: 20px;
    margin-right: 40px;
    object-fit: cover;
}

.center-text {
    font-size: 18px;
    color: white;
    color: black
}

.get-in-touch {
    background-color: #333;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

.get-in-touch:hover {
    background-color: white;
    color: #333;
}


