/* General styles */
h1 {
    font-weight: normal;
    text-align: start;
}

/* Description Section */
.description {
    padding: 20px;
    text-align: start;
    font-family: Arial, sans-serif;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 5px; 
    margin: 0 auto; 
    max-width: 1200px; 
}


.service {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 2px; 
    padding: 5px; 
    text-align: left; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.service img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 2px; 
    margin-bottom: 10px; 
}


.service h3 {
    font-size: 18px;
    margin: 10px 0; 
    color: #333; 
}

.service p {
    font-size: 14px;
    color: #555; 
    margin: 0; 
}


.reference-service {
    text-align: center;
    padding: 20px;
}

.reference-service a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr; 
    }

    .service img {
        height: 150px;
    }
}
