.team-container {
    padding: 20px;
}

.team-grid, 
.board-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.team-member img
.board-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.team-member h3
.board-member h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.team-member p
.board-member p {
    margin-top: 2px;
    font-style: italic;
    color: #666;
}

.partners{
    display: flex;
    gap: 300px;
}

h3{
    font-weight: normal;
    padding: 2px;
}
